apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: opensearch-config
  namespace: argocd
spec:
  project: platform
  source:
    repoURL: https://github.com/AssetCore/kubernetes-deployment
    targetRevision: main
    path: platform/opensearch
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
