apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: assetcore-dev
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: assetcore
  source:
    repoURL: https://github.com/AssetCore/kubernetes-deployment
    targetRevision: main
    path: assetcore
    helm:
      valueFiles:
        - values-dev.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: assetcore-dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 3
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
